
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

.Modal-Component{
    background-color: hsl(0, 0%, 100%);
    position: relative;
    left: 75%;
    top:8vw;
    width: 42vw;
    height:32vw;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 4% 4% 10vw 4%;

    .input-container{
        width:60%;
        padding:1vw 3vw;
        display: flex;
        flex-direction: row;
        gap: 1.5vw;

        .icon:hover{
            background-color: black;
        }
        
    }


}