#root {
    /* max-width: 1280px; */
    height: 100%;
    width: 100%;
}
.App {
    text-align: center;
    background-color: #61dafb;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
@font-face {
    font-family: machine;
    src: url("../src/assets/fonts/machine.ttf");
}

@font-face {
    font-family: space;
    src: url("../src/assets/fonts/space.ttf");
}
@font-face {
    font-family: Teko;
    src: url("../src/assets/fonts/Teko.ttf");
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.MuiBox-root {
    display: flex;
}
